<div class="bottom-view">
  <div class="row">
    <div class="col-md-8 offset-md-4">
      <div *ngFor="let item of sortData | taskPipe : service.query ; let i=index">
        <div *ngIf="(i>0 && item.Date!=sortData[i-1].Date) || i==0">
          <button  *ngIf="!service.save" class="item-date  btn btn-primary">{{item.Date}}</button>
            <div *ngFor="let item1 of sortData">
              <div class="row">
              <div class="col-md-12">
              <div *ngIf="!service.save && item.Date==item1.Date" class="boderbox">
               <h1 *ngIf="!service.save && item.Date==item1.Date">{{item1.Task}}</h1>
               <h4 *ngIf="!service.save && item.Date==item1.Date">{{item1.Place}}</h4>
               <p *ngIf="!service.save && item.Date==item1.Date">{{item1.Description}}</p>
                <button *ngIf="!service.save && item.Date==item1.Date" class="editbutton form-Inline" (click)="populateDetail(item1)" data-toggle="modal" data-target="#exampleModal2" type="submit"><i class="fas fa-pen"></i></button>
                <button *ngIf="!service.save && item.Date==item1.Date && item1.Typego==0 && item1.Typemay==0"  class="editbutton1 form-Inline" type="submit"(click)="ondeleteTask(item1.Id)"><i class="far fa-trash-alt"></i></button>
                  <!--delete button-->
                <button *ngIf="!service.save && item.Date==item1.Date && item1.Typego>0||item1.Typemay>0"  class="editbutton1 form-Inline" data-toggle="modal" data-target="#exampleModal1" type="submit"><i class="far fa-trash-alt"></i></button>
                  <!--share button-->
                <button *ngIf="!service.save && item.Date==item1.Date"  class="editbutton1 form-Inline" data-toggle="modal" data-target="#exampleModal" type="submit"(click)="onshareTask(item1)"><i class="fas fa-share-alt"></i></button>
                </div>
                  <button class="btn item-date btn-success" *ngIf="!service.save && item.Date==item1.Date">go{{item1.Typego}}</button>
                  <button class="btn item-date btn-primary" *ngIf="!service.save && item.Date==item1.Date">may{{item1.Typemay}}</button>
                  <button class="btn item-date btn-warning"  *ngIf="!service.save && item.Date==item1.Date">not{{item1.TypeNinterest}}</button>
                  <!--modal1 delete-->
                  <div *ngIf="!service.save && item.Date==item1.Date"  class="modal fade" id="exampleModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="exampleModalLabel"> Count</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                          <label for="item1.Typego.">Going {{item1.Typego}}</label><br>
                          <label for="item1.Typemay">Maybe {{item1.Typemay}}</label>
                        </div>
                        
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                          <button  type="submit"(click)="ondeleteTask1(item1.Id)"><i class="far fa-trash-alt"></i></button>
                        </div>
                      </div>
                  </div>
                </div>
                <!--End Modal-->
              </div> 
            </div> 
            </div>    
            </div>
        </div>
        <div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"> Edit</h5>
                <button type="button" *ngIf="service.save" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <form #form="ngForm"  autocomplete="off" (submit)="onSubmit1(form)" >
              <div class="modal-body">
               
                  <input *ngIf="service.save" type="text" placeholder="Enter your Event"  class="form-control" name="Task" #Task="ngModel" [(ngModel)]="service.populateData.Task">
                  <input *ngIf="service.save" type="date"  class="form-control" name="Date" #Date="ngModel" [(ngModel)]="service.populateData.Date">
                  <input *ngIf="service.save" type="text" placeholder="Enter your Place" class="form-control " name="Place" #Place="ngModel" [(ngModel)]="service.populateData.Place">
                  <input *ngIf="service.save" type="text"placeholder="Enter your Description"  class="form-control" name="Description" #Description="ngModel" [(ngModel)]="service.populateData.Description">
               
              </div>
              <div class="modal-footer">
                <button *ngIf="service.save" data-dismiss="modal" class="btn btn-danger" (click)="onCancle()">cancle</button>
                <button *ngIf="service.save" type="submit"class="btn btn-primary">save</button> 
              </div>
            </form>
            </div>
        </div>
      </div>
        
    </div>
  </div>
  
</div>


<!-- Modal -->

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">All user</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div *ngFor="let event of userDetails" >
        <input type="checkbox" name="user"  (click)="onShareWithUser(event.Id)" value="">
        <label for="user">{{event.FullName}}</label>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" (click)="OnSubmitShare()" class="btn btn-secondary">Share</button>
      </div>
    </div>
  </div>
</div>
<style> 
.bottom-view
{
  background-color:burlywood;
}
/* { margin-left: 0;
width: 100%;
 rgb(247, 211, 164);;
background-repeat: no-repeat;
background-size: cover; */
/* } */
.boderbox{
  width: 320px;
  height: auto;  
  padding: 50px;
  border: 1px solid rgb(77, 44, 44);
  box-sizing: border-box;
  margin-left: 3rem;
}
.bottom-view .item-date{
  margin-left: 3rem;
}
.bottom-view .item-input{
  padding: .5rem 1rem;
  height: 30px;
  background-color: rgb(247, 211, 164);;
  width: 310px;
  font-size: 1.15rem;
  margin-left: 12rem;
  text-align: left;
  margin-bottom: .5rem;
  border-bottom: 2px solid #5E785C;
  border-top: none;
  border-left: none;
  border-right: none
}
.bottom-view input{
  border: none;
  margin-left: 1px;
  font-size: 1.15rem;
  margin: 0.25rem;
  border-radius: 25px;
  text-align: center;
  width: 320px;
 
}
.bottom-view .editbutton{
  height: 30px;
  width: 30px;
  margin-top: 8px;
  border-radius: 25px;
  border: none;
  text-align: center;
  cursor: pointer;
  background: #330800;
  color:#fff;
}
.bottom-view .editbutton1{
  height: 30px;
  width: 30px;
  margin-bottom: 4px;
  border-radius: 25px;
  border: none;
  text-align: center;
  cursor: pointer;
  background: #0C2110;
  color:#fff;
  
}
span{
  margin-left: 9rem;
  color: chocolate;
}
</style>