<nav class="navbar navbar-dark bg-dark ">
    <a *ngIf="userDetails" class="navbar-brand text-white">{{userDetails.FullName}}</a>
    <button (click)="EventPage()" class="btn btn-primary my-2 my-sm-0">Event</button>
    <button class="btn btn-danger my-2 my-sm-0" (click)="onLogout()">Logout</button>
</nav>
<div class="jumbtron">
        <div class="row">
            <div class="col-md-8 offset-md-2"><app-search-task></app-search-task></div>
        </div>
        <div class="row">
            <div class="col-md-8 offset-md-2"><app-todotask-note></app-todotask-note></div>
        </div>
        <div class="row">
            <div class="col-md-8 offset-md-2"><app-todotask-list></app-todotask-list></div>
        </div>
</div>
<style>
/* .jumbtron{
    height: 100%;
    width: 800px;
    margin:30px auto 0;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0px 0px 5px black;
    box-sizing: border-box;
    font-family: 'Hind', sans-serif;
    background: #D8C2C2;
} */
</style>