<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="container">
        <a *ngIf="userDetails" class="navbar-brand text-white">{{userDetails.FullName}}</a>
      <button class="navbar-toggler" type="button"data-toggle="collapse" data-target="#colapseitem">
        <span class="navbar-toggler-icon"> </span>
      </button>
      <div id="colapseitem" class="collapse navbar-collapse textcenter">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a href="#" (click)="EventPage()" class="nav-link text-white">Event</a>
          </li>
        </ul>
      </div>
      
      <button class="btn btn-danger ml-auto" (click)="onLogout()">Logout</button>
    </div>
  </nav>
<div class="jumbtron">
        <div class="row">
            <div class="col-md-12"><app-search-task></app-search-task></div>
        </div>
        <div class="row">
            <div class="col-md-12"><app-todotask-note></app-todotask-note></div>
        </div>
        <div class="row">
            <div class="col-md-12"><app-todotask-list></app-todotask-list></div>
        </div>
</div>
<style>
/* .jumbtron{
    height: 100%;
    width: 800px;
    margin:30px auto 0;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0px 0px 5px black;
    box-sizing: border-box;
    font-family: 'Hind', sans-serif;
    background: #D8C2C2;
} */
</style>