
<div class="midle-view">
 
   <div class="row">
     <div class="col-md-8 offset-md-4">
      <form #form="ngForm"  autocomplete="off" (submit)="onSubmit(form)">
        <input type="hidden" name="Id" [value]="service.formData.Id">
            <div class="form-group">
              <input type="text" placeholder="What do you want to do" class="form-group" name="Task" #Task="ngModel"[(ngModel)]="service.formData.Task" >
            </div>
            <div class="form-group">
              <input type="date"  class="form-group" name="Date" #Date="ngModel" [(ngModel)]="service.formData.Date">
            </div>
            <div class="form-group">
              <input type="text" placeholder="Place" class="form-group" name="Place" #Place="ngModel"[(ngModel)]="service.formData.Place" >
            </div>
            <div class="form-group">
              <input type="text" placeholder="Description" class="form-group" name="Description" #Description="ngModel"[(ngModel)]="service.formData.Description" >
            </div>
            <div class="form-group">
              <button class="btn btn-danger sb btn-block" type="submit"><i class="fas fa-plus"></i></button>
            </div>  
  </form>
     </div>
   </div>
 </div>


<style>

.midle-view{
    background-color: burlywood;
  }
  .midle-view form.active {
    color: #fff;
    border-bottom: 4px solid #fff;
  }

.midle-view input{
  /* padding: .5rem 1rem;
  height: 30px;
  border: none;
  background-color: #fff;
  width: 250px; */
  border: none;
  margin-left: 1px;
  font-size: 1.15rem;
  margin: 0.25rem;
  border-radius: 25px;
  text-align: center;
  width: 320px;
 
}
.midle-view .sb{
  width: 320px;
}
.midle-view .add-button{
  height: 30px;
  width: 100px;
  margin-top: 6px;
  border-radius: 10px;
  border: none;
  text-align: center;
  cursor: pointer;
  background: #330800;
  color:#fff;
}
</style>