    <div class="top-view">
      <div class="row ">
        <div class="col-md-4">
          <div class="form-group">
            <input class="form-control top-input" [(ngModel)]="service.query" type="date"  placeholder="search your task">
          </div>
        </div>
      </div>
      <h1><span>Todo</span>List</h1>
    </div>

       
      
    <!-- </div> -->
  <!-- </div> -->
<style>
 .top-view{
height: 400px;
width: 100%;
background: url(assets/image/pop3.jpg);
background-repeat: no-repeat;
background-size: cover;
} 
  .top-input{
  padding: .5rem 1rem;
  height: 30px;
  border: none;
  background-color: #fff;
  width: 250px;
  font-size: 1.15rem;
  margin: 0.25rem;
  border-radius: 25px;
  text-align: center;
  color: #000;
} 
h1{
  margin-top: 300px ;
  color: #044980;
}
span{
  color: #B01B06;
}
</style>